<div class="info-block">


    <div class="video-block">
        <iframe #video width="600px"
                style="border-radius: 15px;"
                height="400px"
                frameborder="0"
                allowfullscreen
        >
        </iframe>
    </div>
    <div class="text-info" style="padding-left: 150px; ">
        <div id="name" style="margin-top: 50px; margin-bottom: 20px">
            {{compositionDocument.name}}
        </div>
        <div id="author" style="margin-bottom: 20px">
            Author: {{compositionDocument.clientName}}
        </div>
        <div style="font-size: 30px; margin-bottom: 20px">
            Complexity: {{compositionDocument.complexity}}
        </div>
    </div>
</div>
