<!--<pdf-viewer [src]="{url: pdfSrc, withCredentials: true}"-->
<!--            [render-text]="true"-->
<!--            [original-size]="false"-->
<!--            style="width: 700px; height: 900px">-->
<!--</pdf-viewer>-->
<div>
  <pdf-viewer [src]="{url: pdfSrc, withCredentials: true}"
              [render-text]="true"
              [original-size]="false"
              style="width: 700px; height: 500px">
  </pdf-viewer>
</div>
<div class="info-block">


  <div style="height: 200px; display: flex; flex-direction:column; justify-content: space-evenly">
    <div style="background-color: #ffd500"
         *ngIf="isAdmin && !compositionDocument.banned && !compositionDocument.deleted" class="act-button"
         (click)="ban()">
      Ban
    </div>
    <div style="background-color: #6686ff"
         *ngIf="isAdmin && (compositionDocument.deleted || compositionDocument.banned)"
         class="act-button" (click)="restore()">
      Restore
    </div>
    <div style="background-color: crimson" *ngIf="isCurrentUser && !compositionDocument.deleted" class="act-button"
         (click)="delete()">
      Delete
    </div>
    <div *ngIf="isCurrentUser" class="act-button" (click)="editComposition()">
      Edit
    </div>
    <div style="background-color: #146b00" *ngIf="isCurrentUser" class="act-button" (click)="downloadComposition()">
      Download
    </div>
  </div>
  <div class="video-block">
    <iframe #video width="600px"
            style="border-radius: 15px;"
            height="400px"
            frameborder="0"
            allowfullscreen
    >
    </iframe>
  </div>
  <div class="text-info" style="padding-left: 30px; ">
    <div id="name" style="margin-top: 50px; margin-bottom: 20px">
      {{compositionDocument.name}}
    </div>
    <div id="author" style="margin-bottom: 20px">
      Author: {{compositionDocument.clientName}}
    </div>
    <div style="font-size: 30px; margin-bottom: 20px">
      Complexity: {{compositionDocument.complexity}}
    </div>
  </div>

</div>
