<div style="display: inline-block">
  <pdf-viewer [src]="{url: pdfSrc, withCredentials: true}"
              [render-text]="true"
              [page]="1"
              [original-size]="false"
              [show-all]="false"
              style="width: 500px; height: 300px; border: 1px solid #ddd;border-radius: 5px;margin-bottom: 5px;"
  >
  </pdf-viewer>
  <div class="video-block">
    <iframe #video width="500px"
            style=""
            height="300px"
            frameborder="0"
            allowfullscreen
    >
    </iframe>
  </div>
</div>

<div class="container" style="display: inline-block">
  <div class="title">{{compositionDocument.name}}</div>
  <div class="user-link" (click)="toUserPage()">
    <img src="{{compositionDocument.photoUrl}}" alt="Song 2" style="display: inline-block; border-radius: 4px; height: 40px">
    <div style="display: inline-block; vertical-align: middle; margin-bottom: 30px; margin-left: 10px" class="uploader">{{compositionDocument.clientName}}</div>
  </div>
  <div class="description">{{compositionDocument.description}}</div>
  <div *ngIf="isAdmin || isCurrentUser" class="button-container">
    <button *ngIf="isCurrentUser && !compositionDocument.deleted" (click)="delete()" class="button">Delete</button>
    <button *ngIf="isAdmin && !compositionDocument.banned && !compositionDocument.deleted" (click)="ban()" class="button">Ban</button>
    <button *ngIf="isAdmin && (compositionDocument.deleted || compositionDocument.banned)" (click)="restore()" class="button">Restore</button>
    <button *ngIf="isCurrentUser" class="act-button" (click)="editComposition()" class="button">Edit</button>
  </div>

  <div class="feature-container">
    <div class="feature-item">
      <div class="feature-text">
        <div class="feature-label">Instrument</div>
        Acoustic guitar
      </div>
    </div>
    <div class="feature-item">
      <div class="feature-text">
        <div class="feature-label">Complexity</div>
        {{compositionDocument.complexity}}
      </div>
    </div>
    <div class="feature-item">
      <div class="feature-text">
        <div class="feature-label">Beats per minute</div>
        {{compositionDocument.bpm}}
      </div>
    </div>
  </div>
  <button (click)="downloadComposition()" class="button">Download tabs</button>
  <button [ngStyle]="{backgroundColor: isRated ? 'red' : '#4d99ff'}"
          (click)="rate()" class="button">
    <div *ngIf="!isRated">Like song</div>
    <div *ngIf="isRated">Unlike song</div>

  </button>

  <div class="section" style="margin-top: 20px">
    <div class="section-title">Delivery Files</div>
    <div class="section-content">
      Adobe PDF<br>
    </div>
  </div>
  <div class="divider"></div>
  <div class="section">
    <div class="section-title">Staves count</div>
    <div class="section-content">
      {{compositionDocument.stavesCount}}
    </div>
  </div>
  <div class="divider"></div>

  <div class="section">
    <div class="section-title">Likes</div>
    <div class="section-content">
      {{this.rating}}
    </div>
  </div>
</div>
