<div [ngStyle]="{border: changeWarningBorder()}" style="margin-right: -2px" (focusin)="acknowledgeStaveActive()" >
  <div class="column-block" *ngFor="let col of notes; index as i">
    <div class="vl" [ngStyle]="{'border-color': getDurationColor(i)}"></div>
    <div class="pause" [hidden]="checkPauses(i)" ></div>

    <app-note
      [oldValue]="notes[i][j]"
      [column]="i" [row]="j"
      *ngFor="let row of col; index as j"
      (noteValue)="changeTactValue($event)"
      (action)="handleAction($event)"
    >
    </app-note>

  </div>

</div>

<div class="vl"></div>
