<!--<div class="tact-block">-->


<div class="column-block" *ngFor="let col of notes; index as i">
  <app-note
    style="margin: 1px"
    [oldValue]="notes[i][j]"
    [column]="i" [row]="j"
    *ngFor="let row of col; index as j"
    (noteValue)="changeTactValue($event)"
    (action)="handleAction($event)"
  >

  </app-note>
</div>

<!--<ng-container *ngIf="check">-->
<!--  <div class="column-block" *ngFor="let col of notes; index as i">-->
<!--    <app-note-->
<!--      style="margin: 1px"-->
<!--      [oldValue]="notes[i][j]"-->
<!--      [column]="i" [row]="j"-->
<!--      *ngFor="let row of col; index as j"-->
<!--      (noteValue)="changeTactValue($event)"-->
<!--      (action)="handleAction($event)"-->
<!--    >-->

<!--    </app-note>-->
<!--  </div>-->
<!--</ng-container>-->

<!--<button (click)="setCheck()"></button>-->
<!--</div>-->
