.tact-block {
  display: inline-block;
  width: 100px;
}

.column-block {
  display: inline-block;
  position: relative;
  /*width: 100px;*/
}

.note-pause {
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  height: 100px;
  top: 100%;
  position: absolute;
  opacity: 30%;
}

.pause {
  top: 43px;
  left: 3px;
  width: 23px;
  margin: auto;
  height: 70px;
  position: absolute;
}

.pause-image {
  max-height:100%;
  max-width:100%;
}
