<div [ngStyle]="{border: changeWarningBorder()}" style="margin-right: -2px" >
  <div class="column-block" *ngFor="let col of notes; index as i">
    <div class="vl" [ngStyle]="{'border-color': getDurationColor(i)}"></div>
    <div class="pause" [hidden]="checkPauses(i)" ></div>

    <app-note
      [oldValue]="notes[i][j]"
      [column]="i" [row]="j"
      *ngFor="let row of col; index as j"
      (noteValue)="changeTactValue($event)"
      (action)="handleAction($event)"
    >
    </app-note>

  </div>

</div>

<div class="vl"></div>

<!--<div class="pause">-->
<!--  <img style="scale: 10%" src="assets/quarter+rest.png">-->
<!--</div>-->

