<div class="heading">
  <div style="color: #00a3ff">
    <div routerLink="/" class="nav-link" style="margin-right: 275px">
      babuba.com
    </div>
  </div>
  <div class="navigation">
    <div class="nav-link" routerLink="/registry">Compositions</div>
    <div class="nav-link" routerLink="/creation">Creation</div>
    <div class="nav-link" routerLink="/profile">Profile</div>
    <div class="nav-link" routerLink="/information">Information</div>
    <div class="nav-link">
    </div>
  </div>
  <app-auth-block></app-auth-block>
</div>
