<div class="note"
     (keydown)="onKeyDown($event)"
     (focusout)="setUnfocus()"
     (focus)="setFocusable()" tabindex="0"
     (keydown.enter)="addColumn()"
     (keydown.d)="removeColumn()"
     (keydown.-)="decreaseDuration()"
     (keydown.i)="increaseDuration()"
     (keydown.delete)="eraseColumn()"
     (keydown.arrowUp)="bandUp()"
     (keydown.shift.arrowUp)="bandUp12()"
     (keydown.arrowDown)="bandDown()"
     (keydown.shift.arrowDown)="bandDown12()"
     (keydown.shift.v)="vibrato()"
     (keydown.shift.c)="default()"
>
  <hr style="border: 1px solid; display: inline-block; width: 100%" [ngStyle]="{'border-color': backGround}" >
  <div style="position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; top:0;
   text-align: center;">

    <app-note-action [value]="value" [function]="functionType"></app-note-action>


  </div>

</div>
