<div>
  <div class="menu" style="display: inline-block;float: left; margin-top: 30px; margin-right: 20px">
    <div (click)="makeActive(0)" [ngClass]="active[0] ? 'menu-item active' : 'menu-item'">About</div>
    <div (click)="makeActive(1)" [ngClass]="active[1] ? 'menu-item active' : 'menu-item'">Guidelines</div>
    <div (click)="makeActive(2)" [ngClass]="active[2] ? 'menu-item active' : 'menu-item'">Admins</div>
    <div (click)="makeActive(3)" [ngClass]="active[3] ? 'menu-item active' : 'menu-item'">FAQ</div>
  </div>

  <div *ngIf="active[0]" style="display: inline-block; width:680px;">
    <div class="main" style="margin-bottom: 20px">About Naugthy Harmonics</div>
    <div>
      <div class="paragraph">
        "Naughty Harmonics" is a unique application designed for guitar enthusiasts, offering an innovative way to
        create
        and
        share guitar tabs. Unlike traditional methods, which often involve manually transcribing notes and chords,
        Naughty
        Harmonics utilizes advanced audio processing algorithms to analyze recordings and automatically generate
        accurate
        guitar tabs.
      </div>
      <div class="paragraph">
        Naughty Harmonics also includes a community feature where users can share their tabs with others. This
        collaborative
        environment allows for the exchange of ideas, tips, and techniques, fostering a vibrant community of guitar
        players.
        Users can learn from each other, discover new music, and gain inspiration from the shared works of their peers.
      </div>
      <div class="paragraph">
        In practical terms, Naughty Harmonics serves multiple purposes. Guitarists can use the app to learn new songs by
        breaking them down into manageable parts. The automatic transcription feature demystifies complex pieces, making
        them
        easier to practice and master. Composers and arrangers can quickly transcribe their musical ideas into guitar
        tabs,
        allowing for rapid iteration and refinement of their work. Music educators can use the app as a teaching tool to
        create custom tabs for their students, with real-time feedback and community features providing additional
        resources
        to enhance the learning experience.
      </div>
    </div>
  </div>

  <div *ngIf="active[1]" style="display: inline-block; width:680px;">
    <div class="main" style="margin-bottom: 20px">Guidelines</div>
    <div>
      <div class="paragraph">
         All hints to manage your tabs creation you can find in creation page. There many hints that will help you easily create tabs.
      </div>
    </div>
  </div>

  <div *ngIf="active[2]" style="display: inline-block; width:680px;">
    <div class="main" style="margin-bottom: 20px">Admins</div>
    <div>
      <div class="paragraph">
        Contact us if you have any questions
      </div>
      <div class="paragraph">
        sasha.pinsk2003&#64;gmail.com
      </div>
      <div class="paragraph">
        babubovichbabuba&#64;gmail.com
      </div>

    </div>
  </div>

  <div *ngIf="active[3]" style="display: inline-block; width:680px;">
    <div class="main" style="margin-bottom: 20px">FAQ</div>
    <div>
      <div class="paragraph">
        <b>Can I import my own compositions using .pg5 format?</b> - No, this feature is still in development.
      </div>
      <div class="paragraph">
        <b>How can I restore composition?</b> - You can contact us and describe reason why did you lose your work. We certainly will help you:)
      </div>
    </div>
  </div>
</div>
