<div>
  <div class="wrapper">

    <div class="profile-block" style="padding-top: 50px">
      <img class="profile-image" [src]="client.photoUrl" alt="">
      <div class="name"> {{client.firstName}} </div>
      <div class="name"> {{client.lastName}} </div>
      <div class="email" style="margin-bottom: 15px"> {{client.email}} </div>
      <div class="email" style="margin-bottom: 15px"> Compositions: {{compositions.length}}</div>
      <div class="email" style="margin-bottom: 40px"> Total rating: {{rating}}</div>

      <div *ngIf="!current" [ngSwitch]="userAction">
        <div *ngSwitchCase="UserAction.FRIENDS">
          <div style="display: inline-block" class="act-button" (click)="delete()">Delete friend</div>
        </div>
        <div *ngSwitchCase="UserAction.NOTHING">
          <div style="display: inline-block" class="act-button" (click)="invite()">Invite</div>
        </div>
        <div style="display: flex; justify-content: space-evenly" *ngSwitchCase="UserAction.INVITE_TO">
          <div style="display: inline-block" class="act-button" (click)="delete()">Decline</div>
          <div style="display: inline-block" class="act-button" (click)="accept()">Accept</div>
        </div>
        <div *ngSwitchCase="UserAction.INVITE_FROM">
          <div style="display: inline-block" class="act-button" (click)="delete()">Decline invite</div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="current" style="display: inline-block">
    <div class="email">Friends</div>
    <table>
      <tbody>
      <tr *ngFor="let i of invitations" (click)="toUserPage(i.id)">
        <td><img src="{{i.photoUrl}}" alt="Song 2">{{i.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="current" style="display: inline-block">
    <div class="email">Invitations</div>
    <table>
      <tbody>
      <tr *ngFor="let i of friends" (click)="toUserPage(i.id)">
        <td><img src="{{i.photoUrl}}" alt="Song 2">{{i.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Complexity</th>
    </tr>
    </thead>
    <tbody>
    <tr style="border-width: 0; font-size: 13px" *ngFor="let i of compositions" (click)="toNoteInfoPage(i.id)">
      <td><img src="{{i.photoUrl}}" alt="Song 2">{{i.name}}</td>
      <td>{{i.description}}</td>
      <td>{{i.complexity}}</td>

    </tr>
    </tbody>
  </table>

  <div *ngIf="currentClient.authority == 'ROLE_ADMIN' && client.authority != 'ROLE_ADMIN'" class="act-button"
       (click)="grant()">
    Grant
  </div>
</div>
