<div [ngStyle]="{border: changeWarningBorder()}" style="margin-right: -2px" (focusin)="acknowledgeStaveActive()" >

  <div class="column-block" *ngIf="showSize">
    <div style="position: absolute">
      <div class="tact-digit" style="top: 14px">
        {{sizeStr.split('/')[0]}}
      </div>
      <div class="tact-digit" style="top: 10px">
        {{sizeStr.split('/')[1]}}
      </div>
    </div>
    <div
      [ngStyle]="{width: START_TACT_LENGTH + 'px', marginBottom: (col == 6 ? 0 : 19.5) + 'px'}"
      *ngFor="let col of utilService.createRange(6);"
    >
      <hr style="border: 1px solid; width: 100%; opacity: 10%">
    </div>
  </div>

  <div class="column-block" *ngFor="let col of notes; index as i">
    <app-note-pause [size]="utilService.toRealDuration(getDurationOfColumn(i))" class="note-pause">
    </app-note-pause>

    <app-tact-pause
      *ngIf="checkPauses(i)"
      [duration]="utilService.toRealDuration(getDurationOfColumn(i))">
    </app-tact-pause>

    <app-note
      [oldValue]="notes[i][j]"
      [column]="i" [row]="j"
      *ngFor="let row of col; index as j"
      (noteValue)="changeTactValue($event)"
      (action)="handleAction($event)"
    >
    </app-note>

  </div>

</div>
