<div style="position: relative">
  <div [ngStyle]="{top: this.getTopStaveOffset() + 'px', left: this.getLeftStaveOffset() + 'px'}"
       class="current-position-line">

  </div>
  <app-side-bar
    [playing]="this.playing"
    [paused]="this.paused"
    (playMusicAction)="handleMusicAction($event)"
    (saveEmitter)="saveSong($event)"
    (normalizeEmitter)="normalizeStaves()"
  >

  </app-side-bar>
  <app-tab
    [staves]="this.staveInfo ? this.staveInfo : []"
    (visibleStaveEmitter)="changeVisibleStave($event)"
    (stavesEmitter)="updateStaves($event)">

  </app-tab>
  <input type="text" [value]="bpm" (blur)="setBpm($event)" placeholder="Bpm">
  <input type="text" [value]="compositionName" (input)="setCompositionName($event)" placeholder="Composition name">
  <input type="text" [value]="videoLink" (input)="setVideoLink($event)" placeholder="Video link">
  <input type="text" [value]="compositionComplexity" (input)="setComplexity($event)" placeholder="Complexity">
  <input type="text" [value]="compositionDescription" (input)="setDescription($event)" placeholder="Description">
</div>
