<div style="position: relative">

  <div [ngStyle]="{top: this.getTopStaveOffset() + 'px', left: this.getLeftStaveOffset() + 'px'}"
       class="current-position-line">

  </div>

  <div class="input-info-bar">
    <div style="margin: 20px">
      Bpm: <input type="text"
                  style="font-size: 20px;
                  text-align: left"
                  class="input-name"
                  [value]="bpm"
                  (blur)="setBpm($event)"
                  placeholder="Bpm">
    </div>

    <div style="margin: 20px">
      Complexity:
      <input type="text"
             style="font-size: 20px;
                           text-align: left"
             class="input-name"
             [value]="compositionComplexity"
             (input)="setComplexity($event)" placeholder="Complexity">
    </div>

    <div style="margin: 20px">
      Video link:
      <input type="text"
             style="font-size: 20px;
                    text-align: left"
             class="input-name"
             [value]="videoLink"
             (input)="setVideoLink($event)"
             placeholder="Video link">
    </div>

    <div style="margin: 20px; display: inline">
      <div style="display: inline-block; position: absolute">
        Description:
      </div>
      <textarea
        style="font-size: 20px;
                    text-align: left; position: absolute; left: 120px"
        class="input-name"
        [value]="compositionDescription"
        (input)="setDescription($event)"
        placeholder="Description">

      </textarea>
    </div>

  </div>

  <app-side-bar
    [playing]="this.playing"
    [paused]="this.paused"
    (playMusicAction)="handleMusicAction($event)"
    (saveEmitter)="saveSong($event)"
    (normalizeEmitter)="normalizeStaves()"
    (publishEmitter)="publishComposition()"
  >

  </app-side-bar>

  <div style="text-align: center;  ">
    <input style="font-size: 50px;"
      class="input-name"
      [value]="compositionName"
      (input)="setCompositionName($event)"
      placeholder="Composition name"
    >
  </div>

  <div class="input-name" style="font-size: 20px; margin: 10px; text-align: left">
    By {{this.client.name}}
  </div>
  <app-tab
    [staves]="this.staveInfo ? this.staveInfo : []"
    (visibleStaveEmitter)="changeVisibleStave($event)"
    (stavesEmitter)="updateStaves($event)">

  </app-tab>

</div>
