.current-position-line {
  border-left: 2px solid black;
  height: 137px;
  display: inline-block;
  position: absolute;
}

.input-main-params {
  border-width: 0;
  font-family: cursive;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  margin: auto;
  text-align: center;
}

.input-name {
  border-width: 0;
  border-radius: 0;
  background-color: transparent;
  outline: none;
  margin: auto;
  text-align: center;
}

.input-info-bar {
  font-size: 20px;
  /*font-family: cursive;*/
  position: absolute;
  width: 400px;
  height: 250px;
  left: 1050px;
  top: 250px;
  border-radius:10px;
  background: #efefef;
}
