<div class="input-container">
  <div class="input-name-container">
    <input (input)="fillName($event)" type="text" class="input-name" placeholder="Name">
    <div (click)="search()" class="find-button">Find</div>
    <div (click)="changeFiltersEnabled()" class="filter-button-container">
      <div class="filter-button"></div>
    </div>
  </div>
  <div @slowAnimate *ngIf="filtersEnabled" class="input-filter-container">
    <input (input)="fillBpm($event)" type="text" class="input-filter" placeholder="BPM" style="margin-right: 10px">
    <input (input)="fillComplexity($event)" type="text" class="input-filter" placeholder="Complexity">
  </div>
</div>

<table>
  <thead>
  <tr>
    <th class="field-sort" (click)="sort('name', 'string', 0)">Composition</th>
    <th class="field-sort" (click)="sort('clientName', 'string', 1)">Author</th>
    <th class="field-sort" (click)="sort('complexity', 'number', 2)">Complexity</th>
    <th class="field-sort" (click)="sort('description', 'string', 3)">Description</th>
    <th class="field-sort" (click)="sort('bpm', 'number', 4)">BPM</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of compositions" (click)="toNoteInfoPage(i.id)">
    <td><img src="{{i.photoUrl}}" alt="Song 2">{{i.name}}</td>
    <td>{{i.clientName}}</td>
    <td>{{i.complexity}}</td>
    <td>{{i.description}}</td>
    <td>{{i.bpm}}</td>
  </tr>
  </tbody>
</table>
<div style="margin-top: 20px">
  <button class="pagination-button" [disabled]="page == 0" (click)="prev()">←</button>
  <button class="pagination-button" (click)="next()">→</button>
</div>
