<div>
  <div style="display: inline-block; width: 100px">Name</div>
  <input (input)="fillName($event)" type="text" class="input-text">
</div>
<div>
  <div style="display: inline-block; width: 100px">Bpm</div>
  <input (input)="fillBpm($event)" type="text" class="input-text">
</div>
<div>
  <div style="display: inline-block; width: 100px">Complexity</div>
  <input (input)="fillComplexity($event)" type="text" class="input-text">
</div>

<div (click)="search()" class="act-button">Find</div>

<table class="table table-sm">
  <tr >
    <th style="width: 200px">Author</th>
    <th style="width: 100px">Name</th>
    <th style="width: 500px">Description</th>
    <th style="width: 70px">Complexity</th>
    <th style="width: 100px">Rating</th>
  </tr>
  <tr *ngFor="let i of compositions" (click)="toNoteInfoPage(i.id)">
    <td>{{i.clientName}}</td>
    <td>{{i.name}}</td>
    <td>{{i.complexity}}</td>
    <td>{{i.description}}</td>
    <td>{{i.id}}</td>
  </tr>
</table>
