<div [ngStyle]="{width: TACTS_WIDTH + 'px'}" >
  <div #tact
       style="display: inline-block;"
    [ngStyle]="{marginBottom: VERTICAL_TACT_MARGIN + 'px'}"
    *ngFor="let i of tacts; index as j;"
      id="{{j}}"
  >
    <app-tact style="display: block"
              (isFull)="addTact()"
              (tactInfo)="updateTactInfo($event)"
              (active)="updateActiveTact($event)"
              [serialNumber]="i.serialNumber"
              [sizeStr]="i.sizeStr"
              [notes]="i.notes"
              [showSize]="showSize(j)"
              [staveAcknowledged]="tacts.length - 1 != j"
              [activeBorder]="activeTact == i.serialNumber"
              [events]="eventsSubject.asObservable()"
              (staveLocation)="changeActiveStaveLocation($event)"
    />
  </div>
</div>

<div class="input-info-bar" style="left: 930px; width: 110px; height: 50px; top:140px; " data-tooltip="Tact duration">
  Tact: <input type="text"
               style="font-size: 20px;
                  text-align: left; width: 50px;"
               class="input-name"
               [value]="activeTactSize"
               (blur)="changeTactDuration($event)"
               placeholder="Size">

</div>
<button (click)="emitAction(NoteEmitterAction.VIBRATO)">Vibrato</button>
<button (click)="emitAction(NoteEmitterAction.BAND_UP)">Band up</button>
<button (click)="emitAction(NoteEmitterAction.BAND_DOWN)">Band down</button>
<button (click)="emitAction(NoteEmitterAction.BAND_UP_12)">Band up 12</button>
<button (click)="emitAction(NoteEmitterAction.BAND_DOWN_12)">Band down 12</button>
<button (click)="emitAction(NoteEmitterAction.REMOVE_COLUMN)">Remove column</button>
<button (click)="emitAction(NoteEmitterAction.ADD_COLUMN)">Add column</button>
