body {
  margin: 0;
  padding-left: 200px;
  padding-right: 200px;
  background-image: url("/assets/background.jpg");
  font-family: 'Proxima Nova', sans-serif;
}

.nav-link {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  opacity: 1;
}

.input-text {
  border: 2px solid #0061f1;
  width: 200px;
  height: 20px;
  border-radius: 5px;
  font-size: 14px;
}

.nav-link:hover {
  color: #6262ff;
  transition: 0.4s;
}

.nav-link:active {
  color: #00649b;
  transition: 0.1s;
}


.act-button {
  width: 130px;
  height: 30px;
  background: #0061f1;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  color: white;
}

.act-button:hover {
  color: black;
  background: #93d8ff;
  transition: 0.4s;
}

.act-button:active {
  color: black;
  background: #00649b;
  transition: 0.4s;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
  font-size: 16px;
}
th {
  /*background-color: white;*/
  color: #999;
  font-weight: normal;
}
td img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: middle;
}
.highlight {
  background-color: #ff0000;
  color: white;
}
.highlight td {
  color: white;
}
.explicit {
  font-size: 12px;
  vertical-align: super;
  margin-left: 5px;
}
tr:not(.highlight):hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

[data-tooltip]::before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;

  /* customizable */
  transition: all 0.15s ease;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover::before {
  /* needed - do not touch */
  opacity: 1;
  width: 120px;
  /*width: fit-content;*/
  /* customizable */
  background: #bbcfff;
  margin-top: -50px;
  margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
  pointer-events: none;
}

.tooltip-container {
  width: 100px;
  height: 30px;
  background-color: #bbcfff;
  /*transition: all 0.05s;*/
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  /*width: fit-content;*/
  /*height: fit-content;*/
  /*opacity: 1;*/
  /*transition: 0.1s;*/
  /*background-color: #7ca4da;*/
}

/*.tooltip-container:hover {*/
/*  opacity: 1;*/
/*  transition: 0.3s;*/
/*}*/
